@import url(reset.css);
/* подключаем файл reset.css напрямую в style.css */

html{
    background-color:rgb(232, 229, 229);
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

.body__wrapper{
    width: 80rem;
    height: 102rem;

    margin: 0 auto;
   
    display: flex;
    flex-direction: column;
 
    background-color: #FFFFFF ;
}

[class*="__box"]{   
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.header{
    flex-basis: 4.87rem;
}

.main{
    flex: 1 1 auto;
}

.footer{
    flex-basis: 6.75rem;
}
    
.header__navbar{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.header__menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    gap: 4.5rem;
    flex-basis: 100%; 
}

.menu-item__link{
    display: inline-block;

    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.125rem;
    letter-spacing: 0.169rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
}

.menu-item__link:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.main__image-block{
    flex-basis: 49.32rem;
}

.main-picture{
    width: 100%;
}

.main__article-block{
    flex: 1 1 auto;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.article__content{    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 4.125rem;
}

.article__title{
    margin-bottom: 2.375rem;

    font-style: normal;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.169rem;
    letter-spacing: 0.21rem;
    text-transform: uppercase;
    color: #373737;
}

.article__text{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 1.75rem;

    margin-left: 4.22rem;
    margin-right: 4.22rem;
}

[class*="__paragraph"]{
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 0.15rem;
    
    color: #373737;
}

.article__button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__link_red{

    padding: 1.25rem 2.72rem;

    background: #FF0000;
    border-radius: 0.25rem;
    
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.75rem;
    text-align: center;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #FFFFFF;
}

.button__link_red:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.footer__text{
    align-self: flex-end;

    margin-right: 6.57rem;
    margin-top: 2,81rem;
   
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.15rem;
    
    color: #373737;
}


/* Структра - классов:

    Блок Body
     - class="body__wrapper" - контейнер для всего макета, внутренняя обертка body

    Блок <header>
        - class="header___box header" - семантический блок header с отдельным классом
            - class="header__navbar" - блок навигации 
                - class="header__menu" - навигационное меню
                - class="menu__item"- элемент меню
                - class="menu-item__link" - активная ссылка меню

    Блок <main>
        - class="main__box main" - семантический блок main c отдельным классом

        - class="main__image-block" - блок главного изображения макета - КАРТИНКА
                - class="main-picture" - главное изображение макета 
                
        - class="main__article-block" - блок текстового контента макета - СТАТЬЯ
            - class="article__content" - контент всей статьи
                - class="article__title" - заголовок статьи 
                - class="article__text" - текст статьи 
                - class="article__paragraph paragraph-first_small" - первый параграф
                - class="article__paragraph paragraph-second_big" - второй параграф
        
        - class="article__button" - блок с главнок кнопкой статьи - КНОПКА
            - class="button__link_red"- активная ссылка кнопки 

    Блок <footer>
        - class="footer__box footer" - семантический блок footer c  отдельным классом
        - class="footer__text" - блок текста колонтитула */

